@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
  color: #fff;
}

h2 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
}

.work-img img {
  height: 300px;
  max-width: 300px;
}

.detail-img {
  max-width: 600px;
}

h2.font-bold.text-\[2\.5rem\] {
  background: -webkit-linear-gradient(#ad1256, #ff3434);
  /* background: -webkit-linear-gradient(#dd2476, #fa5252); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -2px;
}

.thanks {
  background: -webkit-linear-gradient(#ad1256, #ff3434);
  /* background: -webkit-linear-gradient(#dd2476, #fa5252); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.profile-border {
  border: 1px solid;
  border-color: rgba(242, 6, 171, 1);
}

/* .logo a {
  font-size: 39px;
  background: -webkit-linear-gradient(#ad1256, #ff3434);
   background: -webkit-linear-gradient(#dd2476, #fa5252); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -3px;
} */

.socialbtn {
  --tw-bg-opacity: 1;
  --tw-gradient-from: #fa5252;
  --tw-gradient-to: rgba(250, 82, 82, 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #dd2476;
  align-items: center;
  background-color: rgb(243 246 246 / var(--tw-bg-opacity));
  border-radius: 0.5rem;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  transition-duration: 0.3s;
  transition-property: color, background-color, border-color, fill, stroke,
    -webkit-text-decoration-color;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 2.5rem;
}

.socialbtn:hover {
  --tw-text-opacity: 1;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

ul a.active {
  color: rgb(255, 56, 17);
  background: none;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  z-index: 9;
}

/* Tablet Medium Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 992px;
  }
}

/* SM Small Device :320px. */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    position: inherit;
  }

  .section-title img {
    width: 140px;
  }

  .section-title h2 {
    font-size: 36px;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-title img {
    width: 140px;
  }

  .section-title h2 {
    font-size: 36px;
  }
}